.App {
  margin: 2rem;
}

.student__section {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.student__all {
  border: 2px solid yellow;
}
.student__present {
  border: 2px solid green;
}

.student__absent {
  border: 2px solid red;
}

.student__section ul li span {
  margin-right: 0.5rem;
}
